<h1>Country Select Examples</h1>

<h2>Vanilla Form using <code>form_with</code></h2>
<%= render "vanilla_form" %>

<h2>Formtastic</h2>
<%= render "formtastic_form" %>

<h3>Simple Form</h3>
<%= render "simple_form_form" %>
